%h1 Editing <%= singular_table_name %>

= form_for :<%= singular_table_name %>, url: { action: "update", id: @<%= singular_table_name %>.try(:id) } do |f|

<% attributes.each{ |attribute| -%>
  .field
    = f.label :<%= attribute.name %>
    = f.<%= attribute.field_type %> :<%= attribute.name %>

<% } -%>
  .actions
    = f.submit t( "menu.update" ), 'data-disable-with' => t( "menu.update" )

= link_to t( "menu.show" ), action: "show", id: @<%= singular_table_name %>.id
|
= link_to t( "menu.list" ), action: "index"
