
<h1>Listing <%= plural_table_name %></h1>

<table>
  <tr>
<% attributes.each do |attribute| -%>
    <th><%= attribute.human_name %></th>
<% end -%>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%% @<%= plural_table_name %>.each{ |<%= singular_table_name %>| %>
  <tr>
<% attributes.each do |attribute| -%>
    <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
<% end -%>
    <td><%%= link_to t( "menu.show" ), <%= singular_table_name %>_path( <%= singular_table_name %> ) %></td>
    <td><%%= link_to t( "menu.edit" ), edit_<%= singular_table_name %>_path( <%= singular_table_name %> ) %></td>
    <td><%%= link_to t( "menu.destroy" ), <%= singular_table_name %>_path( <%= singular_table_name %> ), method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %></td>
  </tr>
<%% } %>
</table>

<br />

<%%= link_to t( "menu.new" ), new_<%= singular_table_name %>_path %>

<br />
<br />

<%%= link_to t( "menu.top" ), :root %>
