
<h1>New <%= singular_table_name %></h1>

<%%= form_for :<%= singular_table_name %>, url: { action: "create", id: @<%= singular_table_name %>.try(:id) } do |f| %>
  <%% if @<%= singular_table_name %>.errors.any? %>
    <div id="error_explanation">
      <h2><%%= pluralize(@<%= singular_table_name %>.errors.count, "error") %> prohibited this <%= singular_table_name %> from being saved:</h2>

      <ul>
      <%% @<%= singular_table_name %>.errors.full_messages.each{ |msg| %>
        <li><%%= msg %></li>
      <%% } %>
      </ul>
    </div>
  <%% end %>

<% attributes.each do |attribute| -%>
  <div class="field">
    <%%= f.label :<%= attribute.name %> %><br />
    <%%= f.<%= attribute.field_type %> :<%= attribute.name %> %>
  </div>

<% end -%>
  <div class="actions">
    <%%= f.submit t( "menu.create" ), 'data-disable-with' => t( "menu.create" ) %>
  </div>
<%% end %>

<%%= link_to t( "menu.list" ), action: "index" %>
